.hero{
    display:grid;
    grid-template-columns:200px 1fr;
    grid-template-areas:
    "foto nama"
    "foto nim"
    "foto bio";
    align-items:center;
    gap:10px 25px;
    text-align:left;
}

.hero img{
    grid-area:foto;
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #dbeafe;
    justify-self:center;
    margin-bottom:0;
}

.hero h1{
    grid-area:nama;
    margin-bottom:0;
    align-self:end;
}

.hero h3{
    grid-area:nim;
    color:#64748b;
    margin:0;
    align-self:start;
}

.hero p{
    grid-area:bio;
    margin-top:5px;
    line-height:1.8;
}

.skills{
    margin-top:15px;
}

.tag{
    display:inline-block;
    padding:10px 15px;
    background:var(--primary);
    color:white;
    border-radius:20px;
    margin:5px;
    transition:.3s;
}

.tag:hover{
    transform:scale(1.1);
}

.harapan{
    padding-left:20px;
    line-height:1.8;
}